body{
   text-align: center;
   font-family: cursive;
   background-image: url(deskbackground.jpg);
   background-repeat: no-repeat;
   background-size: 100%;

 }

    p{
      color: yellow;
      font-size: 45px;
      font-family: Impact,fantasy;
      margin-top: -5px;

 }
 a{
   text-decoration: none;
 }
 marquee{
   margin-top: -70px;
   image background-image:
 }

 h1{

   font-size: 23px;
   font-family: 'Covered By Your Grace', sans-serif;
   color: blue;
   margin-top: -20px;
   text-align: left;
   }













c
